{% load i18n %}
{% for pk, user in users.items %}
<tr>
    <td><a href="{% url 'dashboard:user-detail' pk=pk %}">{{ user.name }}</a></td>
    <td>{{ user.timezone|default:"-" }}</td>
    <td>
    {% for schedule in user.schedules %}
        <b><i>{{ schedule.weekday_name }}</i></b>: {{ schedule.start }} - {{ schedule.end }}
        <br />
    {% empty %}
        -
    {% endfor %}
    </td>
    <td><a href="{% url 'schedules:admin-per-user-work-schedules' pk=pk %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
</tr>
{% endfor %}
