{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load pipeline %}

{% block title %}
    {{ title }} | {% trans "Schedule" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="well">
        {% include 'partials/form.html' with includes_files=1 class='wysiwyg' %}
    </div>
{% endblock dashboard_content %}
