{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load pipeline %}

{% block title %}
    {{ title }} | {% trans "Schedule" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'schedules:color-create' %}" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> {% trans "Create new color" %}</a>
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption>
            {{ title }}
        </caption>
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Hex Color Code" %}</th>
                <th>{% trans "Color" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for color in colors %}
            <tr>
                <td>{% if color.user.get_full_name %}{{ color.user.get_full_name|default:"-" }}{% else %}{{ color.user.email|default:"-" }}{% endif %}</td>
                <td>{{ color.code }}</td>
                <td style="background-color: {{ color.code }}"></td>
                <td><a href="{% url 'schedules:color-edit' pk=color.pk %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
            </tr>
            {% empty %}
                <p>{% trans 'No user colors found' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock dashboard_content %}
