{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load pipeline %}

{% block title %}
    {{ title }} | {% trans "Schedule" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption>
            {{ title }}
        </caption>
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Start" %}</th>
                <th>{% trans "End" %}</th>
                <th></th>
            </tr> 
        </thead>
        <tbody>
            {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.title }}</td>
                <td>{{ schedule.start }}</td>
                <td>{{ schedule.end }}</td>
                <td>
                    <a href="{% url 'schedules:edit' schedule.id %}">
                        <button type="button" class="btn btn-info span2 offset1">Edit</button>
                    </a>
                    <a href="{% url 'schedules:delete' schedule.id %}">
                        <button type="button" class="btn btn-danger span2 offset1">Delete</button>
                    </a>
                </td>
            </tr>
            {% empty %}
                <p>{% trans 'No Unavailable Schedule found' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock dashboard_content %}
