{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load pipeline %}
{% load schedule_extras %}
{% load tz %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'schedules:calendar' %}">{% trans "Schedule" %}</a>
        </li>
        <li class="active">{{ appointment.order }}</li>
    </ul>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ appointment.order }}</h2>
    </div>
    <div class="content-block">
        <div class="row-fluid">
            <div id="page-title" class="span4 offset4">
                <h2>{% trans "Appointment Details" %}</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div id="wrapper" class="span4 offset4">
                <div class="row-fluid">
                    <div class="btn-spacer">
                        {% if user|is_schedule_stylist:appointment %}
                            <a href="{% url 'schedules:calendar' %}" role="button" class="btn btn-default">Go Back to Calendar</a>
                        {% else %}
                            <a href="{% url 'schedules:admin-calendar' %}" role="button" class="btn btn-default">Go Back to Calendar</a>
                            <a href="{% url 'dashboard:order-detail' number=appointment.order.number %}" role="button" class="btn btn-default">Go to Order Details</a>
                        {% endif %}
                    </div>
                    <div class="span12">
                        <div class="form-label">{% trans "Title: " %}{{ appointment.order }}</div>
                        {% include "schedules/_schedule_detail.html" with timezone=appointment.timezone schedule=appointment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% javascript 'schedule_detail' %}
{% endblock %}
